<!DOCTYPE html>
<html>
<head>
  <title>What's in my City? | Write a Review</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="container-fluid" style="background-color: #f78733;height: 120px;">


  <a [routerLink]="['/home']" class="navbar-brand"><img src="../assets/images/notanymore.png" class="main_logo" style="height:100px;float: left"/></a>


  <button type="submit" class="btn btn-warning " id="myAccount" style="float: right">My Account</button>
  <button type="submit" class="btn btn-primary " (click) = "onClick()" id="login" style="float: right">Logout</button>
  <!--<button type="submit" class="btn btn-lg" (click) = "onClick()" id="logout" style="background-color: #00a86b;color: white" style="float: right">Logout</button>-->
</div>



<!--<nav class="navbar navbar-inverse">

    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <form class="form-inline">
          <ul class="nav navbar-nav left">
          <li><img src="../../assets/images/notanymore.png" height="150" width="120"/></li>
          </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><button type="submit" class="btn btn-warning " id="myAccount">My Account</button></li>
              <li><button type="submit" class="btn btn-primary " (click) = "onClick()" id="login">Logout</button></li>
            </ul>


        </form>
      </div>
    </div>

</nav>-->
<div class="container" style="margin-top: 10px">




  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h1>Write a Review</h1>
    <form (submit)="onSignup()">
      <div class="form-group">
        <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Your name:</label>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <input class="form-control" id="name" type="text" [(ngModel)]="model.username" name="username" (blur) = "nameValidate()" placeholder="Enter your name here" required><span id="nameError"></span>
        </div>
      </div>

      <div class="form-group " >

      </div>

      <div class="form-group">
        <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px" >Your review:</label>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
         <textarea rows="4" cols="50"></textarea>
        </div>
      </div>







      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px;margin-bottom: 20px">
        <button type="submit" class="btn btn-warning">Submit</button>&nbsp;<span id="signupError"></span>
      </div>

    </form>
  </div>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

  <img src="../../assets/images/reviews.jpg" height="400" width="600"/></div>


</div>

<div class="container">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">Other Reviews</div>
    <div class="panel-body">Panel Content</div>
  </div>
</div>
</div>

<div class="container-fluid" style="background-color: black">
  <div class="ftr col-lg-offset-4 col-md-offset-4 col-lg-8 col-md-8 col-sm-12 col-xs-12">


    <a [routerLink]="" data-toggle="tooltip" data-placement="bottom">
      About Us |</a>
    <a [routerLink]="" data-toggle="tooltip" data-placement="bottom" >
      Contact Us |</a>

    <a [routerLink]="" data-toggle="tooltip" data-placement="bottom">Disclaimer |</a>


  </div>


  <div class="listofcities">
    <br>
    <p style="color:#000000;margin: auto"><i>What's in my city? &copy;</i></p>

  </div>

  <!--Footer ends here-->
</div>

</body>
</html>
