<!DOCTYPE html>
<html>

<head>
  <title>What's in my City | Careers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</head>
<body>

<ng-template #content let-c="close" let-d="dismiss">
  <div class = "modal-content">
    <div class="modal-body">
      <h3>Thanks for sending your details. We will get back to you soon on job</h3>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </div>
</ng-template>

<nav class="navbar navbar-inverse"  data-offset-top="197">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="#">What's in my City?</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <form class="form-inline">

          <div class="form-group button_grop" style="float: right">
            <button type="submit" class="btn btn-primary " (click) = "onClick(content)" id="login">Login</button>


          </div>
        </form>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">


      <!--Carousel starts here-->


      <div class="">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <img src="../../assets/images/WeAreHiring.jpg" height="550px" width="1200px" style="margin-bottom: 20px"></div>


        <h1 id="headerTest">Open Positions</h1>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="margin-top: 40px">
          <div class="panel panel-info">
            <div class="panel-heading">Senior Web Developer</div>
            <div class="panel-body">Bengaluru, India</div>
          </div>


        </div>

        <div class="col-lg-4 col-md-4 col-sm-66 col-xs-6" style="margin-top: 40px">
          <div class="panel panel-info">
            <div class="panel-heading">Senior Java Developer</div>
            <div class="panel-body">Mumbai, India</div>
          </div>


        </div>

        <div class="col-lg-4 col-md-4 col-sm-66 col-xs-6" style="margin-top: 40px">
          <div class="panel panel-info">
            <div class="panel-heading">Product Manager</div>
            <div class="panel-body">New York City, USA</div>
          </div>


        </div>

        <div class="col-lg-4 col-md-4 col-sm-66 col-xs-6" style="margin-top: 40px">
          <div class="panel panel-info">
            <div class="panel-heading">Software Developer Intern</div>
            <div class="panel-body">Los Angeles, USA</div>
          </div>


        </div>

        <div class="col-lg-4 col-md-4 col-sm-66 col-xs-6" style="margin-top: 40px">
          <div class="panel panel-info">
            <div class="panel-heading">Content Writer</div>
            <div class="panel-body">Bengaluru, India</div>
          </div>


        </div>

        <div class="col-lg-4 col-md-4 col-sm-66 col-xs-6" style="margin-top: 40px">
          <div class="panel panel-info">
            <div class="panel-heading">Senior Recruiter</div>
            <div class="panel-body">Mumbai, India</div>
          </div>


        </div>


        <div class="col-lg-4 col-md-4 col-sm-66 col-xs-6" style="margin-top: 40px">
          <div class="panel panel-info">
            <div class="panel-heading">Tech Lead</div>
            <div class="panel-body">Los Angeles, USA</div>
          </div>


        </div>

        <div class="col-lg-4 col-md-4 col-sm-66 col-xs-6" style="margin-top: 40px">
          <div class="panel panel-info">
            <div class="panel-heading">City Head</div>
            <div class="panel-body">Nagpur, India</div>
          </div>


        </div>

        <div class="col-lg-4 col-md-4 col-sm-66 col-xs-6" style="margin-top: 40px">
          <div class="panel panel-info">
            <div class="panel-heading">Sales Manager</div>
            <div class="panel-body">Mumbai, India</div>
          </div>


        </div>


        <div class="container">
          <h2 style="margin-left: 450px">Apply here</h2>
          <form class="form-horizontal" (submit)="submitBtn(content)">
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Name*</label>
              <div class="col-sm-6">
                <input type="name" class="form-control" id="name" placeholder="Enter name" name="name" (blur) = "nameValidate()"required><span id="nameError"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Email*</label>
              <div class="col-sm-6">
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" (blur) = "emailValidate()" required><span id="emailError"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Phone*</label>
              <div class="col-sm-6">
                <input type="phone" class="form-control" id="phone" placeholder="Enter phone number (xxx-xxx-xxxx)" name="phone" (blur) = "phoneValidate()" required><span id="phoneError"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Description*</label>
              <div class="col-sm-6">
                <textarea rows="4" cols="50" class="form-control" placeholder="Message (Max Length = 255)" maxlength="255" id="msg" (blur) = "descValidate()" required></textarea><span id="msgError"></span>
              </div>
            </div>


            <!--<div class="form-group">
              <label class="control-label col-sm-2" for="email">Resume</label>
              <div class="col-sm-10">
                <label>Attach File<input type="file" name="file" accept="image/*"
                       (change)="handleInputChange($event)">Attach Files</label>
              </div>
            </div>-->

            <div class="form-group">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-success" style="margin-left: 450px">Submit</button><span id="signupError"></span>
              </div>
            </div>

          </form>
        </div>



      </div>


    </div>
  </div>
</div>






<!--Footer starts here-->
<div class="container-fluid" style="background-color: black">



  <div class="listofcities">
    <br>
    <p style="color:#ffffff;margin: auto"><i>What's in my city? &copy;</i> <a href="#">
      About Us |</a>
      <a href="#" >
        Contact Us |</a>

      <a href="#" >Disclaimer |</a>


  </div>

  <!--Footer ends here-->
</div>

</body>
</html>
