<!DOCTYPE html>
<html>

<head>
  <title>What's in my City | Contact US</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</head>
<body>

<ng-template #content let-c="close" let-d="dismiss">
  <div class = "modal-content">
    <div class="modal-body">
      <h3>Thank you for getting in touch with us. We will get back to you shortly</h3>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </div>
</ng-template>

<nav class="navbar navbar-inverse"  data-offset-top="197">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="#">What's in my City?</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <form class="form-inline">

          <div class="form-group button_grop" style="float: right">
            <button type="submit" class="btn btn-primary "id="login">Login</button>


          </div>
        </form>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">


      <!--Carousel starts here-->


      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


          <img src="../../assets/images/contactus.jpg" style="width: 1100px;height: 550px;"/>

        </div>


      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-top: 40px">

          <form class="form-horizontal" (submit)="onSubmit(content)" >
            <div class="form-group">

              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Name*"  name="name" (blur) = "nameValidate()" required><span id="nameError"></span>
              </div>
            </div>
            <div class="form-group">

              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Email*" (blur) = "emailValidate()" name="email" required><span id="emailError"></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10">
               <textarea rows="4" cols="50" class="form-control" placeholder="Message (Max Length = 50)" maxlength="50" id="msg" (blur) = "msgValidate()" required></textarea><span id="msgError"></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" id="submit" style="margin-left: 220px">Submit</button><span id="signupError"></span>
              </div>
            </div>
          </form>

      </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-top: 40px">

          <div class="panel panel-default">
            <div class="panel-heading">Work With Us</div>
            <div class="panel-body">
              <button type="submit" class="btn btn-success" (click)="jobBtn()">See open positions</button>
            </div>
          </div>

        </div>


      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="container reachUs">

           <h3>Reach out to us</h3>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <h5><img src="../../assets/images/india.png" height="24" width="24"/> &nbsp; India: +91-1234567890 | info@wimc.in</h5>
               </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h5><img src="../../assets/images/united-states.png" height="24" width="24"/> &nbsp; United States of America: +1-857-233-1131 | info@wimc.us</h5>
            </div>

          </div>
      </div>
    </div>
  </div>
</div>






      <!--Footer starts here-->
      <div class="container-fluid" style="background-color: black">
        <div class="ftr col-lg-offset-4 col-md-offset-4 col-lg-8 col-md-8 col-sm-12 col-xs-12">





            </div>


          <div class="listofcities">
            <br>
            <p style="color:#ffffff;margin: auto"><i>What's in my city? &copy;</i> <a href="#" >
              About Us |</a>
              <a href="#">
                Contact Us |</a>
              <a [routerLink]="['/disclaimer']" >Disclaimer |</a></p>

          </div>

      <!--Footer ends here-->
    </div>

</body>
</html>
