<!DOCTYPE html>
<html>
<head>
  <title>What's in my City</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <!-- Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>


  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</head>
<body>
<ng-template #content let-c="close" let-d="dismiss">
  <div class = "modal-content">
    <div class="modal-body">
      <h3>Please Login to Continue</h3>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </div>
</ng-template>
<div class="container-fluid">
  <div class="row">
    <div class="">
      <div *ngIf="! isUserLoggedIn" class="heading">
        <h1> &nbsp; </h1>
        <a class="headingref" href="#" style="margin-left: 15px">Write a Review</a>
        <a class="headingrefForMob">What's in my City?</a>

        <!--<img class="logo" src="../../assets/images/logo.png" alt="Logo" width="200px">-->

        <span class="dropdown" style="float: right">
        <a [routerLink]=""><button class="dropbtn1 headingref1">My Account</button></a>

          <span class="dropdown-content">
            <a href="#">Change my password</a>
            <a href="#">Logout</a>
          </span>

        </span>
        <a [routerLink]="['/loginuser']"><button type="button" class="btn" style="align:right">Login</button></a>
        <a [routerLink]="['/createuser']"><button type="button" class="btn">Sign Up</button></a>
      </div>
        <div *ngIf="isUserLoggedIn" class="heading">
          <h1> &nbsp; </h1>
          <a class="headingref" href="#">Write a Review</a>
          <a class="headingrefForMob">What's in my City?</a>
          <a (click)="logoutClicked($event)"><button type="button" class="btn" style="align:right">Logout</button></a>
        </div>

      <!--Carousel starts here-->
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-caption">
          <!--Mobile Responsive search button starts here-->
          <div class="mrsearchBox">
            <input class="widthForSearch" type="text" name="search" placeholder="Search..">
            <button type="submit" class="btn btn-success widthForSearchBtn" width="20px"><img src="assets/images/search.png" /> &nbsp; Search</button>
          </div>
          <!--Mobile Responsive search button ends here-->

          <div id="ulId">
            <div>
              <!--<img class="logo" src="/assets/images/logo.png" alt="Logo" width="200px">-->
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <img src="../../assets/images/notanymore.png" height="150" width="150" style="margin-bottom: 20px"/>

                <form class="form-inline">
                  <div class="form-group">
                    <input list="search" class="form-control" id = "searchInput" name="search" placeholder="Search" size="65" style="height:47px">
                    <datalist id="search" name="search">
                      <option id ="category" value="Food">
                      <option value="Shopping"  id ="category1">
                      <option value="Events" id ="category2">
                      <option value="Nightlife" id ="category3">
                      <option value="Places of Interest" id ="category4">
                      <option value="E-Learning" id ="category5">
                    </datalist>
                  </div>
                  <div class="form-group" id="cities">
                    <div class="form-group" >
                      <div class="dropdown" >
                        <select id="selectValue" style="width: 300px;height:47px;">
                          <option id="optionValue" *ngFor="let city of citiesList">
                            {{city.Name}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                      <img src="../../assets/images/magnifying-glass-browser-2.png" (click) = "searchValidation(content)" class="magnifyingGlass"/>
                  <!--<button type="submit" class="btn btn-success" (click) = "searchValidation(content)"><img src="assets/images/search.png" /> &nbsp; Search</button>--> <span id="resultError"></span>
                </form>

                <div class="well well-lg">
                  <ul class="nav">
                    <li class="nav-item" id="liId">
                      <a class="nav-link" id="liId6" (click)="rest(content)"><img src="assets/images/dinner.png"/><p class="categorySearch" style="margin-right: 16px"> &nbsp; Food </p>&nbsp; </a>
                    </li>


                    <li class="nav-item" id="liId1">
                      <a class="nav-link" (click)="shop(content)"><img src="assets/images/shopper-with-bags.png" /><p class="categorySearch"> &nbsp; Shopping </p> &nbsp; </a>
                    </li>
                    <li class="nav-item" id="liId2">
                      <a class="nav-link" (click)="ev(content)"><img src="assets/images/event.png" /><p class="categorySearch" style="margin-right: 16px"> &nbsp; Events </p> &nbsp; </a>
                    </li>
                    <li class="nav-item" id="liId3">
                      <a class="nav-link" (click)="ntlif(content)"><img src="assets/images/cocktail-glass.png" /><p class="categorySearch"> &nbsp; Nightlife </p>&nbsp; </a>
                    </li>
                    <li class="nav-item" id="liId4">
                      <a class="nav-link" (click)="placint(content)"><img src="assets/images/library.png" /><p class="categorySearch"> &nbsp; Places of interest </p> &nbsp; </a>
                    </li>
                    <li class="nav-item" id="liId5">
                      <a class="nav-link" href="#"><img src="assets/images/learning.png" /><p class="categorySearch"> &nbsp; E-Learning </p> &nbsp; </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>-->

        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img src="../../assets/images/most%20beautiful%20new%20york%20city%20skyline%20background%20picture.jpg" class="image-fluid" alt="Map">
            <div class="carousel-caption">
            </div>
          </div>

          <!--<div class="carousel-item">
            <img src="assets/images/background2.jpg" class="image-fluid" alt="Cooking">
            <div class="carousel-caption">
            </div>
          </div>-->

          <!--<div class="carousel-item">
            <img src="assets/images/background3.jpg" class="image-fluid" alt="Kitchen">
            <div class="carousel-caption">
            </div>
          </div>-->

          <!--<div class="carousel-item">
            <img src="assets/images/background4.jpg" class="image-fluid" alt="Concert">
            <div class="carousel-caption">
            </div>
          </div>-->
        </div>

        <!-- Left and right controls -->
        <!--<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>-->
      </div>


      <!--Footer starts here-->



      <div id="footerID" class="container-fluid" >





            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

              <h3>General Information</h3>
              <!--<a href="">About Us</a> <br> <a href="">Contact Us</a><br> <a href="">Blogs</a><br><a href="">Disclaimer</a>
              <br> <a class="headingrefForReview" href="#"> Write a Review</a>-->

             <!-- <a href="#" >
                <p>About Us &nbsp; &nbsp; &nbsp; </p>
              </a>
              <a href="#" >
                <p>Contact Us &nbsp; &nbsp; &nbsp; </p>
              </a>
              <a href="#">
                <p>Blogs &nbsp; &nbsp; &nbsp; </p>
              </a>
              <a href="#" >
                <p>Disclaimer &nbsp; &nbsp; &nbsp; </p>
              </a>
              <a href="#">
                <p>Write a Review &nbsp; &nbsp; &nbsp; </p>
              </a>

            </div>-->
        <div class="row" style="margin-top: 30px">

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center ;margin-bottom: 20px">

              <h1 >Our Presence spans across India and USA</h1>
          </div>

              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a [routerLink]="['/bangalore']"><img src="../../assets/images/bangvector.png" class="circle" alt="bengaluru" width="304" height="236"></a>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a [routerLink]="['/hyderabad']"><img src="../../assets/images/hyderabad-india-charminar-vector-drawn-sketch-illustration-hand-64018001.jpg" class="circle" alt="hyderabad" width="304" height="236"></a>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a [routerLink]="['/mumbai']"><img src="../../assets/images/mumbaibw.png" class="circle" alt="mumbai" width="304" height="236"></a>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a [routerLink]="['/nagpur']"><img src="../../assets/images/nagpur.jpg" class="circle" alt="nagpur" width="304" height="236"></a>
              </div>

             <div class="whiteBorder"></div>

              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a [routerLink]="['/boston']"><img src="../../assets/images/boston_cityscape_wall_decal_design_by_wall_decal_shop-d6808v0.jpg" class="circle" alt="boston" width="304" height="236"></a>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a [routerLink]="['/losangeles']"><img src="../../assets/images/stock-vector-los-angeles-lettering-modern-text-and-skyline-city-vector-los-angeles-print-hand-drawn-font-for-604803965-2.jpg" class="circle" alt="losangeles" width="304" height="236"></a>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a [routerLink]="['/lasvegas']"><img src="../../assets/images/laslaslas.jpg" class="circle" alt="lasvegas" width="304" height="236"></a>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a [routerLink]="['/newyork']"><img src="../../assets/images/new-york-skyline-and-red-ribbon_23-2147493929_Fotor.jpg" class="circle" alt="nyc" width="304" height="236"></a>
              </div>



                <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title="Nicknamed as 'The Hub', home to numerous educational instiutions">
                  <p>Boston &nbsp; &nbsp; &nbsp; </p>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Financial Capital of World">
                  <p>New York City &nbsp; &nbsp; &nbsp; </p>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Home to Hollywood">
                  <p>Los Angeles &nbsp; &nbsp; &nbsp; </p>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Famous for it's casinos & resorts">
                  <p>Las Vegas &nbsp; &nbsp; &nbsp; </p>
                </a>

              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">



                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Tech hub of India">
                  <p>Bengaluru &nbsp; &nbsp; &nbsp; </p>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="City with a rich heritage">
                  <p>Hyderabad &nbsp; &nbsp; &nbsp; </p>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Financial Capital of India">
                  <p>Mumbai &nbsp; &nbsp; &nbsp; </p>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Orange City of India">
                  <p>Nagpur</p>
                </a>-->

         </div>

           <!--<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">

             <div class="logos">
               <a href="#"><img src="assets/images/facebook-logo-button.png" /></a> &nbsp; &nbsp;
               <a href="#"><img src="assets/images/instagram-logo.png" /></a> &nbsp; &nbsp;
               <a href="#"><img src="assets/images/twitter-logo-button.png" /></a>
             </div>

           </div>-->






            <!---->


          <div class="listofcities">



            <br>
            <p style="color:#ffffff;margin-left: 15px"><i>What's in my city? &copy;</i><a href="">About Us | </a><a href="">Contact Us | </a><a href="">Disclaimer | </a>
            <a class="headingrefForReview" href="#"> Write a Review</a></p>

          </div>
        </div>


      </div>





      <!--<div class="card" style="width: 100%;">
        <div class="card-block">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 container-fluid customfooter">

              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 foursections">About Us | Contact Us | Blogs | Disclaimer <a class="headingrefForReview" href="#">|&nbsp; Write a Review</a>
                <div class="logos">
                  <a href="#"><img src="assets/images/facebook-logo-button.png" /></a> &nbsp; &nbsp;
                  <a href="#"><img src="assets/images/instagram-logo.png" /></a> &nbsp; &nbsp;
                  <a href="#"><img src="assets/images/twitter-logo-button.png" /></a>
                </div>
              </div>

            <div class="listofcities">

                <p>Cities: &nbsp; &nbsp; &nbsp; </p>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Nicknamed as 'The Hub', home to numerous educational instiutions">
                  <p>Boston &nbsp; &nbsp; &nbsp; </p>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Financial Capital of World">
                  <p>New York City &nbsp; &nbsp; &nbsp; </p>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Home to Hollywood">
                  <p>Los Angeles &nbsp; &nbsp; &nbsp; </p>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Famous for it's casinos & resorts">
                  <p>Las Vegas &nbsp; &nbsp; &nbsp; </p>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Tech hub of India">
                  <p>Bengaluru &nbsp; &nbsp; &nbsp; </p>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="City with a rich heritage">
                  <p>Hyderabad &nbsp; &nbsp; &nbsp; </p>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Financial Capital of India">
                  <p>Mumbai &nbsp; &nbsp; &nbsp; </p>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="National Capital of India">
                  <p>New Delhi</p>
                </a>
                <br>
                <p><i>What's in my city? &copy;</i></p>

            </div>
          </div>
        </div>
      </div>-->
      <!--Footer ends here-->
    </div>
  </div>

</body>
</html>
